In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [38]:
data=pd.read_csv('income.csv')
data

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,income_level
0,39,77516,13,2174,0,40,0
1,50,83311,13,0,0,13,0
2,38,215646,9,0,0,40,0
3,53,234721,7,0,0,40,0
4,28,338409,13,0,0,40,0
...,...,...,...,...,...,...,...
48837,39,215419,13,0,0,36,0
48838,64,321403,9,0,0,40,0
48839,38,374983,13,0,0,50,0
48840,44,83891,13,5455,0,40,0
48841,35,182148,13,0,0,60,1

In [39]:
data.columns

Index(['age', 'fnlwgt', 'education_num', 'capital_gain', 'capital_loss',
       'hours_per_week', 'income_level'],
      dtype='object')

In [40]:
data.isnull().sum()

age               0
fnlwgt            0
education_num     0
capital_gain      0
capital_loss      0
hours_per_week    0
income_level      0
dtype: int64

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   fnlwgt          48842 non-null  int64
 2   education_num   48842 non-null  int64
 3   capital_gain    48842 non-null  int64
 4   capital_loss    48842 non-null  int64
 5   hours_per_week  48842 non-null  int64
 6   income_level    48842 non-null  int64
dtypes: int64(7)
memory usage: 2.6 MB

In [42]:
data.describe()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,income_level
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382,0.239282
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444,0.426649
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000,0.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000,0.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000,0.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000,0.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000,1.000000

In [43]:
data.corr()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,income_level
age,1.000000,-0.076628,0.030940,0.077229,0.056944,0.071558,0.230369
fnlwgt,-0.076628,1.000000,-0.038761,-0.003706,-0.004366,-0.013519,-0.006339
education_num,0.030940,-0.038761,1.000000,0.125146,0.080972,0.143689,0.332613
capital_gain,0.077229,-0.003706,0.125146,1.000000,-0.031441,0.082157,0.223013
capital_loss,0.056944,-0.004366,0.080972,-0.031441,1.000000,0.054467,0.147554
hours_per_week,0.071558,-0.013519,0.143689,0.082157,0.054467,1.000000,0.227687
income_level,0.230369,-0.006339,0.332613,0.223013,0.147554,0.227687,1.000000

In [44]:
x=data.drop('income_level',axis=1)
x=x.drop('education_num',axis=1)
y=data['income_level']

In [45]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [46]:
from sklearn.linear_model import LogisticRegression
Model_Logistic = LogisticRegression()

using various classification algorithms

# Ada boost

In [47]:
from sklearn.ensemble import AdaBoostClassifier
from catboost import CatBoostClassifier
from xgboost import XGBClassifier

In [48]:
AdaModel = AdaBoostClassifier(n_estimators=50,base_estimator=Model_Logistic,learning_rate=1)
#n_estimator=no of week learners,learning_rate=deafult weight assigner to these learners
model=AdaModel.fit(X_train,y_train)

In [49]:
ypred=model.predict(X_test)

In [50]:
from sklearn import metrics

In [51]:
metrics.accuracy_score(y_test,ypred)

0.7979322346197154

# catboost

In [52]:
modelcb=CatBoostClassifier(n_estimators=100)
modelcb.fit(X_train,y_train)

Learning rate set to 0.407067
0:	learn: 0.5436209	total: 2.7ms	remaining: 267ms
1:	learn: 0.4793064	total: 5.26ms	remaining: 258ms
2:	learn: 0.4440004	total: 7.25ms	remaining: 234ms
3:	learn: 0.4261029	total: 9.42ms	remaining: 226ms
4:	learn: 0.4129074	total: 11.3ms	remaining: 214ms
5:	learn: 0.4078913	total: 13.3ms	remaining: 208ms
6:	learn: 0.4015199	total: 15.3ms	remaining: 203ms
7:	learn: 0.3973224	total: 17.4ms	remaining: 200ms
8:	learn: 0.3941380	total: 19.4ms	remaining: 196ms
9:	learn: 0.3922139	total: 21.2ms	remaining: 191ms
10:	learn: 0.3898197	total: 23.1ms	remaining: 187ms
11:	learn: 0.3879303	total: 24.8ms	remaining: 182ms
12:	learn: 0.3870274	total: 26.5ms	remaining: 178ms
13:	learn: 0.3864439	total: 28.4ms	remaining: 175ms
14:	learn: 0.3857161	total: 30.6ms	remaining: 173ms
15:	learn: 0.3843293	total: 32.6ms	remaining: 171ms
16:	learn: 0.3839858	total: 34.4ms	remaining: 168ms
17:	learn: 0.3837948	total: 36.2ms	remaining: 165ms
18:	learn: 0.3823261	total: 38ms	remaining: 162ms
19:	learn: 0.3814925	total: 39.8ms	remaining: 159ms
20:	learn: 0.3811526	total: 41.5ms	remaining: 156ms
21:	learn: 0.3807910	total: 43.3ms	remaining: 154ms
22:	learn: 0.3800737	total: 45.3ms	remaining: 152ms
23:	learn: 0.3798202	total: 47.4ms	remaining: 150ms
24:	learn: 0.3796054	total: 49.3ms	remaining: 148ms
25:	learn: 0.3786512	total: 51.4ms	remaining: 146ms
26:	learn: 0.3784987	total: 53.3ms	remaining: 144ms
27:	learn: 0.3781121	total: 55.2ms	remaining: 142ms
28:	learn: 0.3765425	total: 57ms	remaining: 140ms
29:	learn: 0.3757183	total: 58.9ms	remaining: 137ms
30:	learn: 0.3754389	total: 60.7ms	remaining: 135ms
31:	learn: 0.3744884	total: 62.7ms	remaining: 133ms
32:	learn: 0.3737080	total: 64.8ms	remaining: 132ms
33:	learn: 0.3731776	total: 66.7ms	remaining: 130ms
34:	learn: 0.3730783	total: 68.4ms	remaining: 127ms
35:	learn: 0.3727682	total: 70.3ms	remaining: 125ms
36:	learn: 0.3726099	total: 72ms	remaining: 123ms
37:	learn: 0.3721219	total: 73.8ms	remaining: 120ms
38:	learn: 0.3717155	total: 75.6ms	remaining: 118ms
39:	learn: 0.3708649	total: 77.4ms	remaining: 116ms
40:	learn: 0.3703272	total: 79.3ms	remaining: 114ms
41:	learn: 0.3701138	total: 81ms	remaining: 112ms
42:	learn: 0.3700371	total: 82.8ms	remaining: 110ms
43:	learn: 0.3697482	total: 84.6ms	remaining: 108ms
44:	learn: 0.3694859	total: 86.3ms	remaining: 105ms
45:	learn: 0.3692642	total: 88ms	remaining: 103ms
46:	learn: 0.3688597	total: 89.9ms	remaining: 101ms
47:	learn: 0.3687387	total: 91.5ms	remaining: 99.2ms
48:	learn: 0.3686822	total: 93.2ms	remaining: 97ms
49:	learn: 0.3684808	total: 95.1ms	remaining: 95.1ms
50:	learn: 0.3681173	total: 97ms	remaining: 93.2ms
51:	learn: 0.3678890	total: 98.8ms	remaining: 91.2ms
52:	learn: 0.3676140	total: 100ms	remaining: 88.9ms
53:	learn: 0.3674834	total: 102ms	remaining: 87ms
54:	learn: 0.3667511	total: 104ms	remaining: 85.1ms
55:	learn: 0.3665482	total: 106ms	remaining: 83ms
56:	learn: 0.3665012	total: 108ms	remaining: 81.2ms
57:	learn: 0.3662546	total: 110ms	remaining: 79.4ms
58:	learn: 0.3661649	total: 111ms	remaining: 77.4ms
59:	learn: 0.3658821	total: 113ms	remaining: 75.5ms
60:	learn: 0.3658380	total: 115ms	remaining: 73.5ms
61:	learn: 0.3656578	total: 117ms	remaining: 71.6ms
62:	learn: 0.3653337	total: 119ms	remaining: 69.7ms
63:	learn: 0.3651295	total: 120ms	remaining: 67.7ms
64:	learn: 0.3650831	total: 122ms	remaining: 65.8ms
65:	learn: 0.3648557	total: 124ms	remaining: 63.8ms
66:	learn: 0.3647405	total: 126ms	remaining: 62ms
67:	learn: 0.3647073	total: 127ms	remaining: 60ms
68:	learn: 0.3643115	total: 129ms	remaining: 58.2ms
69:	learn: 0.3642235	total: 131ms	remaining: 56.1ms
70:	learn: 0.3640124	total: 133ms	remaining: 54.2ms
71:	learn: 0.3639616	total: 134ms	remaining: 52.2ms
72:	learn: 0.3637213	total: 136ms	remaining: 50.2ms
73:	learn: 0.3635985	total: 137ms	remaining: 48.3ms
74:	learn: 0.3634057	total: 140ms	remaining: 46.5ms
75:	learn: 0.3632227	total: 141ms	remaining: 44.6ms
76:	learn: 0.3628493	total: 143ms	remaining: 42.7ms
77:	learn: 0.3627885	total: 145ms	remaining: 40.8ms
78:	learn: 0.3626650	total: 146ms	remaining: 38.9ms
79:	learn: 0.3624195	total: 148ms	remaining: 37ms
80:	learn: 0.3623686	total: 150ms	remaining: 35.1ms
81:	learn: 0.3622883	total: 151ms	remaining: 33.2ms
82:	learn: 0.3620586	total: 153ms	remaining: 31.3ms
83:	learn: 0.3619739	total: 155ms	remaining: 29.4ms
84:	learn: 0.3619664	total: 156ms	remaining: 27.6ms
85:	learn: 0.3618174	total: 158ms	remaining: 25.7ms
86:	learn: 0.3616716	total: 160ms	remaining: 23.9ms
87:	learn: 0.3615207	total: 162ms	remaining: 22ms
88:	learn: 0.3613884	total: 163ms	remaining: 20.2ms
89:	learn: 0.3612111	total: 165ms	remaining: 18.3ms
90:	learn: 0.3611284	total: 167ms	remaining: 16.5ms
91:	learn: 0.3610845	total: 168ms	remaining: 14.6ms
92:	learn: 0.3607912	total: 170ms	remaining: 12.8ms
93:	learn: 0.3606167	total: 172ms	remaining: 11ms
94:	learn: 0.3605659	total: 173ms	remaining: 9.12ms
95:	learn: 0.3605443	total: 175ms	remaining: 7.29ms
96:	learn: 0.3604865	total: 176ms	remaining: 5.46ms
97:	learn: 0.3602892	total: 178ms	remaining: 3.63ms
98:	learn: 0.3600358	total: 180ms	remaining: 1.81ms
99:	learn: 0.3597936	total: 181ms	remaining: 0us

In [53]:
ypredcb=modelcb.predict(X_test)

In [54]:
metrics.accuracy_score(ypredcb,y_test)

0.8261848705087522

# XG boosting

In [55]:
modelxg = XGBClassifier()
modelxg.fit(X_train.values,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=0, num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, ...)

In [56]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y_train = le.fit_transform(y_train)

In [57]:
ypredxg=modelxg.predict(X_test)

In [58]:
metrics.accuracy_score(ypredxg,y_test)

0.8270037874910431

#Random forest

In [59]:
from sklearn.ensemble import RandomForestClassifier
modelrfc=RandomForestClassifier()
modelrfc.fit(X_train,y_train)

RandomForestClassifier()

In [60]:
ypredrfc=modelrfc.predict(X_test)

In [61]:
metrics.accuracy_score(ypredrfc,y_test)

0.7733647251509879

Cat boost performs the best

In [62]:
import pickle
pickle.dump(modelcb,open('model1.pkl','wb'))

In [63]:
model1 = pickle.load(open('model1.pkl','rb'))